html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--surface-b);
  font-family: var(--font-family);
  color: var(--text-color) !important;
}

.text-layout {
  color: var(--text-color) !important;
}
